body {
  font-family: Permanent Marker ;
  text-align: center;
  background-color: #e9c46a;
  color: #264653;

}

.container {
  padding: auto;
  text-align: center;
}

h2 {
  color: #e76f51;
  font-size: 4rem;
  margin-top: 0;
}
.red {

  border: 2px;
  border-color: #e76f51;
  border-radius: 2rem;
  background-color: #e76f51;
  border-style: solid;
}

button {
  margin: 7%;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border-style: none;
  color: white;
  background-color: #e76f51;
    font-family: Permanent Marker ;
}

button:hover {
  background-color: #264653;

}
